.kanban-board-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .kanban-board-search {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: flex-end;
  }

  .kanban-board {
    display: flex;
    gap: 10px;

    min-height: 500px;
  }
}
