.kanban-board-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;

  .kanban-board-search {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: flex-end;
  }

  .kanban-board {
    display: flex;
    gap: 5px;

    height: 100%;
  }

  .kanban-column-item {
    width: 110px;
    min-height: 100px;
    padding: 10px 13px;
    display: flex;
    align-items: center;
    line-height: 1.1;
    font-weight: 600;
    cursor: grab;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.03);

    p {
      width: 100%;
      overflow: hidden;
      overflow-wrap: anywhere;
      margin: 0;
    }

    &.dragging {
      cursor: grabbing;

      &.blue {
        background-color: #55AFE1;
      }

      &.red {
        background-color: #E66A78;
      }

      &.black {
        background-color: #4B5F73;
      }
    }

  }
}
